<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar">
    <div class="container">
      <a href="#" class="logo">eRegistrar</a>
      <ul class="nav-menu">
        <li><a th:href="@{/eregistrar/home}">Home</a></li>
        <li><a th:href="@{/eregistrar/about}">About</a></li>
        <li><a th:href="@{/eregistrar/register}">Registrar</a></li>
        <li><a th:href="@{/eregistrar/contact}">Contact</a></li>
        <li><a th:href="@{/eregistrar/help}">Help</a></li>
      </ul>
    </div>
  </nav>
</header>